<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
    integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
<link href="/assets/css/interactive.css" rel="stylesheet">
<link href="/assets/css/nouislider.min.css" rel="stylesheet">
<link href="/assets/css/pretty-checkbox.min.css" rel="stylesheet">

<script src="/assets/js/nouislider.min.js" type="text/javascript"></script>
<script src="/assets/js/fabric.min.js" type="text/javascript"></script>
<script src="/assets/js/lzss.js" type="text/javascript"></script>