---
layout: default
---

{{ content }}

{% include inputs/lzss.html %}

{% include inputs/lzss_encode.html %}

<script src="/assets/js/lzss_encode.js" type="text/javascript"></script>

<div class="font_preload" style="opacity: 0">
    <span style="font-family: Roboto Mono;"></span>
</div>

<div id="encode-canvas-container-jtd" class="canvas-container-jtd">
    <canvas id="encode-canvas">

    </canvas>
</div>

<div>
    <p>Output:</p>
    <p id="encode-output-text"></p>
</div>

{% include inputs/lzss_decode.html %}

<script src="/assets/js/lzss_decode.js" type="text/javascript"></script>
<script type="text/javascript">
    (function () {
        var decode = new LZDecoder({ ns: "decode-" })
    })();
</script>

<div class="font_preload" style="opacity: 0">
    <span style="font-family: Roboto Mono;"></span>
</div>

<div id="decode-canvas-container-jtd" class="canvas-container-jtd">
    <canvas id="decode-canvas">

    </canvas>
</div>

<div>
    <p>Output:</p>
    <p id="decode-output-text"></p>
</div>