---
layout: default
---

<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
    integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
<link href="/assets/css/interactive.css" rel="stylesheet">

{{ content }}


<form class="pure-form" id="action-form">
    <fieldset>
        <legend>Enter text to encode</legend>
        <input type="text" id="input-text" name="input-text">
        <button type="submit" class="pure-button pure-button-primary">Encode</button>
        <button class="button-success pure-button float-right d-none" id="step" type="button">Step Through</button>
    </fieldset>
</form>


<script src="/assets/js/interactive.js" type="text/javascript"></script>
<script src="/assets/js/fabric.min.js" type="text/javascript"></script>

<div class="font_preload" style="opacity: 0">
    <span style="font-family: Roboto Mono;"></span>
</div>

<div id="canvas-container-jtd">
    <canvas id="canvas">

    </canvas>
</div>