$sidebar_width: 364px;

.site-header {
  height: 90px;
  max-height: 90px;
}

@media (max-width: 90rem) and (min-width: 50rem) {
  .site-nav,
  .site-header,
  .site-footer {
    width: $sidebar_width;
  }

  $sidebar_width_offset: calc((100%) / 2 - #{$sidebar_width});

  .side-bar {
    width: $sidebar_width;
  }

  .main {
    margin-left: $sidebar_width;
  }
}

@media (min-width: 90rem) {
  .site-nav,
  .site-header,
  .site-footer {
    width: $sidebar_width;
  }

  $sidebar_width_offset: calc((100%) / 2 - #{$sidebar_width});

  .side-bar {
    width: $sidebar_width_offset;
  }

  .main {
    margin-left: $sidebar_width_offset;
  }

  .side-left {
    width: $sidebar_width;
  }
}

$margin: 6px;
$margin-left: $margin;
$margin-right: $margin;

.main-fs {
  margin-left: $margin-left;
  margin-right: $margin-right;
  max-width: initial;
  height: calc(100% - 14rem);
}

.main-fs {
  padding-top: 2rem;
}

.main-fs {
  padding-top: 1rem;
}

@media (min-width: 50rem) and (max-width: 90rem) {
  $margin: 20px;
  $margin-left: $sidebar_width + $margin;
  $margin-right: $margin;

  .main-fs {
    margin-left: $margin-left;
    margin-right: $margin-right;
    width: calc(100% - #{$margin-left} - #{$margin-right});
    max-width: initial;
    height: calc(100% - 14rem);
  }

  .main-fs {
    padding-top: 2rem;
  }
}

@media (min-width: 90rem) {
  $margin: 80px;
  $margin-left: $sidebar_width + $margin;
  $margin-right: $margin;

  .main-fs {
    margin-left: $margin-left;
    margin-right: $margin-right;
    width: calc(100% - #{$margin-left} - #{$margin-right});
    max-width: initial;
    height: calc(100% - 14rem);
  }

  .main-fs {
    padding-top: 4rem;
  }
}

// body,
// html {
//   height: 100%;
// }

#canvas-container-jtd {
  margin-top: 4px;
  border: 2px solid gray;
  border-radius: 4px;
  width: 100%;
  height: 600px;
}

.container-jtd-fs {
  border: 2px solid gray;
  border-radius: 4px;
  width: 100%;
  height: calc(100% - 24px);
}

#canvas-container-jtd:not(.container-jtd-fs) {
  pointer-events: none;
}

.pure-button {
  border-radius: 4px !important;
}

.pure-label {
  padding-left: 4px !important;
}

.pure-checkbox {
  display: inline !important;
  margin-right: 4px !important;
}

.slider-container {
  padding-left: 16px;
  padding-right: 16px;
}
