$sidebar_width: 364px;

.site-header {
  height: 90px;
  max-height: 90px;
}

@media (max-width: 90rem) and (min-width: 50rem) {
  .site-nav,
  .site-header,
  .site-footer {
    width: $sidebar_width;
  }

  $sidebar_width_offset: calc((100%) / 2 - #{$sidebar_width});

  .side-bar {
    width: $sidebar_width;
  }

  .main {
    margin-left: $sidebar_width;
  }
}

@media (min-width: 90rem) {
  .site-nav,
  .site-header,
  .site-footer {
    width: $sidebar_width;
  }

  $sidebar_width_offset: calc((100%) / 2 - #{$sidebar_width});

  .side-bar {
    width: $sidebar_width_offset;
  }

  .main {
    margin-left: $sidebar_width_offset;
  }
}

#canvas-container-jtd {
  border: 2px solid gray;
  border-radius: 4px;
  width: 100%;
  height: 600px;
}

.pure-button {
  border-radius: 4px !important;
}

.pure-label {
  padding-left: 4px !important;
}

.pure-checkbox {
  display: inline !important;
  margin-right: 4px !important;
}

.slider-container {
  padding-left: 16px;
  padding-right: 16px;
}
